//ШРИФТЫ
$font: 'Suisse Intl', 'Arial', 'Helvetica', 'Helvetica CY', 'Nimbus Sans';

// РЕТИНА
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// РАЗРЕШЕНИЯ
$width-desktop: 1440px;
$width-min: 1100px;
// $width-tablet: 960px;
// $width-tablet-small: 640px;
// $width-mobile: 320px;

$desktop-gap: 30px;
$mobile-gap: 15px;

// ЦВЕТА
$text-main: #151515;
$white: #fff;
$black: #000;

$grey200: #f4f4f8;
$grey250: #e6e6ef;
$grey300: #d1d8e1;
$grey400: #6c7684;

$primary: #5ea9ff;
$success: #1ed77e;

$fail: #f25248;
$warning: #ff9900;
$warning2: #fdd74f;
$additional: #aad2ff;
$additional2: #e7f2ff;
